@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


html, body{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(0deg, rgba(31,28,44,1) 0%, rgba(146,141,171,1) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

button{
  cursor: pointer;
  background-color: transparent;
  border: solid 1px white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  color: white;
}

button:hover{
  background-color: rgba(53, 46, 64, 0.5);
}

#calculadora{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 1rem;
  border-radius: 1rem;
}

#resultado{
  text-align: right;
}

.operation{
font-weight: 900;
background-color:rgba(126, 162, 168, 0.2);
}

/*

FLEXBOX       =>    siempre trabaja en una dimensión

<div> flex direction row
<div> flex direction column, justify content, align items
x
x
x
x
</div>
</div>


x
x
x
x


GRID        =>    siempre trabaja en 2 dimensiones

<div>  
x
x
x
x
</div>

x x
x x

*/